<!DOCTYPE html>
<html lang="en" data-theme="pastel">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>Dashboard</title>
    </head>
    <body class="min-h-screen flex items-center justify-center bg-neutral-content">
        <div class="card w-full max-w-xl bg-base-100 shadow-xl p-10 flex flex-col space-y-8">
            <h2 class="card-title text-l text-primary-content mb-2 pb-2">Welcome, <%= user.username %>!</h2>
            <p class="">Email: <%= user.email %></p>
            <div class="flex gap-6 pt-4">
                <a class="btn btn-accent" href="/tasks">View Tasks</a>
                <a class="btn btn-neutral" href="/logout">Logout</a>
            </div>

        </div>
    </body>
</html>