<!DOCTYPE html>
<html lang="en" data-theme="pastel">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <title>Home</title>
    </head>
    <body class="min-h-screen flex items-center justify-center bg-neutral-content">
        <div class="card w-full max-w-xl bg-base-100 shadow-xl p-10 flex flex-col items-center space-y-8">
            <h1 class="card-title text-4xl text-neutral mb-2">Welcome to Taskly</h1>
            <p class="text-base-content text-lg text-center">Taskly is a simple app to help you manage your tasks. It features secure login and registration, MongoDB for authetication and Postgres for data.</p>
            <div class="flex gap-6 pt-4">
                <a class="btn btn-primary btn-lg" href="/login">Login</a>
                <a class="btn btn-info btn-lg" href="/register">Register</a>
            </div>
        </div>
    </body>
</html>